@import "./variables";

.header {
  background: $app-bg;
  border-bottom: 1px solid $border-color;
  padding: 1em;
  max-width: 1400px;
  margin: 0 auto;

  .header-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1em;

    .logo img {
      width: 11em;
      height: 2em;
    }

    .search-bar {
      flex: 1;
      display: flex;
      align-items: center;
      background: #f8f8f8;
      border-radius: 25px;
      padding: 0.25em 0.5em;
      margin: 0 10em;

      input {
        flex: 1;
        border: none;
        background: transparent;
        padding: 0.5em;
        outline: none;
      }

      .search-btn {
        background: #28a745;
        color: $text-color;
        border: none;
        padding: 0.5em 1em;
        border-radius: 20px;
        cursor: pointer;
      }
    }

    .cart {
      position: relative;
      background: #0066d1;
      color: $text-color;
      padding: 0.5em 1em;
      border-radius: 20px;
      display: flex;
      align-items: center;
      gap: 0.5em;

      .badge {
        position: absolute;
        top: -8px;
        right: -8px;
        background: red;
        color: $text-color;
        font-size: 12px;
        font-weight: bold;
        border-radius: 50%;
        padding: 0.2em 0.5em;
      }
    }
  }
}

.header-title {
  background-color: #0066d1;
  color: $text-color;
  padding: 0.75em 0;
  margin: 0;

  p {
    max-width: 1400px;
    margin: 0 auto;
  }
}

@media (max-width: 768px) {
  .header-title {
    text-align: center;
  }

  .header {
    .header-top {
      flex-wrap: wrap;

      .logo {
        order: 1;
      }

      .cart {
        order: 2;
        margin-left: auto;
      }

      .search-bar {
        order: 3;
        width: 100%;
        margin: 0;
      }
    }
  }
}
