.product-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1.5em;
  padding: 1em;
  max-width: 1400px;
  margin: 0 auto;
  min-height: 34vh;

  .not-found {
    grid-column: 1 / -1;
    text-align: center;
  }
}
